WEBVTT

NOTE This is a multi-line note block. 
These are used for comments by the author
Two cue blocks are defined below

{% for subtitleThing in list_subtitleTimings %}
{{subtitleThing.startTime}} --> {{subtitleThing.endTime}}
{{list_subtitles[subtitleThing.sn]}}
{% endfor %}