import inspect
import pprint

from foundation.automat.core.equation import Equation
from foundation.automat.core.manipulate.pattern.{{filename}} import {{classname}}
from foundation.automat.parser.sorte.schemeparser import Schemeparser


pp = pprint.PrettyPrinter(indent=4)


    {% for testDefinitionStr in testDefinitionStrs %}
{{testDefinitionStr}}

    {% endfor %}


if __name__=='__main__':
    {% for testCallStr in testCallStrs %}{{testCallStr}}
    {% endfor %}