
def {{defName}}(verbose=False):
    eqs = {{eqs}}
    eqsType = '{{eqsType}}'
    #filename = '{{filename}}'
    direction = '{{direction}}'
    idx = {{idx}}
    eq0 = Equation(eqs, eqsType)
    ma0 = {{className}}(eq0, direction, idx, verbose=verbose)
    manipulatedSchemeEquation = ma0.apply() # {{regexUsedComment}}
    manipulatedAst = Schemeparser(equationStr=manipulatedSchemeEquation).ast
    expected = '{{expected}}' # {{returnRegexUsedComment}}
    expectedAst = Schemeparser(equationStr=expected).ast
    print(inspect.currentframe().f_code.co_name, ' PASSED? ', 
        expected == manipulatedSchemeEquation and manipulatedAst == expectedAst
    )
    if verbose:
        print(manipulatedSchemeEquation)
        print(manipulatedAst)
