**/__pycache__/
**/.idea/
db.sqlite3
foundation/automat/arithmetic/configuration/standard/
foundation/automat/arithmetic/standard/
foundation/automat/core/manipulate/pattern
foundation/automat/core/manipulate/tests/configurationtests
foundation/automat/parser/tests/genASTSVG/examples/**
foundation/nDisplay/three/public/static/meshes/**
foundation/ecircuit/orthogonalLayouts/tests/rccl_SVGOuts/**