{% for import in imports %}
{{import}}
{% endfor %}

class {{className}}(Manipulate):
    """

    """
    TYPE = '{{type}}'
    NO_OF_MANIPULATIONS = '{{no_of_manipulations}}'
    

    def __init__(self, equation, direction, idx, calculateSchemeNodeChanges=False, verbose=False):
        """

        """
        self.rawRegexes = {{manipulations}}
        super().__init__(equation, direction, idx, calculateSchemeNodeChanges=calculateSchemeNodeChanges, verbose=verbose)