{% for import in imports %}
{{import}}
{% endfor %}

class {{className}}(Manipulate):
    """

    """
    TYPE = '{{type}}'

    def __init__(self, equation, verbose):
        """

        """
        self.rawRegexes = {{manipulations}}
        super().__init__(equation, verbose=verbose)