{% for import in imports %}
{{import}}
{% endfor %}

class {{className}}(Function):
    """

    """
    TYPE = '{{type}}'
    FUNC_NAME = '{{funcName}}'

    def __init_subclass__(cls, **kwargs):
        kwargs['type'] = '{{type}}'
        kwargs['funcName'] = '{{funcName}}'
        super().__init_subclass__(**kwargs)

    def __init__(self, equation, idInAst, verbose=False):
        """

        """
        super().__init__(equation, idInAst, verbose=verbose)
        self.reverses = {
            {% for (equationSide, argumentIdx), reverseFunctionName in mainTemplateReverseFunctionNames %}
                ("{{equationSide}}", "{{argumentIdx}}"): self.{{reverseFunctionName}}{% if not loop.last %},{% endif %}
            {% endfor %}
        }

    {% for reverseFunctionStr in reverseFunctionStrs %}
{{reverseFunctionStr}}

    {% endfor %}

{{calculateFunctionStr}}
